.UnsubscribeAllButton {
  cursor: pointer;
  color: #3460F1;

  border-radius: 4px;
  border: 1px solid #CCCCCC;

  padding: 10px 16px;
  gap: var(--gap-m);

  background: transparent;
  font-size: var(--font-size-m);
  line-height: 16px;
  font-weight: 500;
  transition: all 0.2s ease;

  &:hover {
    background: #3460F1;
    color: white;
  }
}

